<ng-container [formGroup]="stepForm">
  <mat-card class="step-one">
      <div>1/6</div>
    <mat-card-header>
      <mat-card-title-group class="title">
        <div><span>1/5</span></div>
        <mat-card-title role="heading"
                        aria-level="1">Let's Start with your name</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide your name.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-controls">
      <!-- name input -->
      <div class="input-details">
        <label for="name">Name</label>
        <label for="error"
               id="error"
               *ngIf="this.stepForm.controls['name'].invalid && this.stepForm.controls['name'].touched"
               class="error-alert">Name is required</label>
      </div>
      <input type="text"
             matInput
             id="name"
             formControlName="name"
             placeholder="e.g. Stephen King" />
      
    </mat-card-content>
  </mat-card>
</ng-container>
