<ng-container [formGroup]="stepForm">
    <div>5/6</div>
  <mat-card class="step-five">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Personal info</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide your Country of Residence.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-controls">
      <!-- country input -->
      <div class="input-details">
        <label for="country">Country</label>
        <label for="error"
               id="error"
               *ngIf="this.stepForm.controls['country'].invalid && this.stepForm.controls['country'].touched"
               class="error-alert">Country is required</label>
      </div>
      <input type="text"
             matInput
             id="country"
             formControlName="country"
             placeholder="e.g. Nigeria" />
      
    </mat-card-content>
  </mat-card>
</ng-container>
