<ng-container [formGroup]="stepForm">
    <div>4/6</div>
  <mat-card class="step-four">
    <mat-card-header>
      <mat-card-title-group class="title">
        <mat-card-title role="heading"
                        aria-level="1">Personal info</mat-card-title>
        <mat-card-subtitle role="heading"
                           aria-level="2"
                           role="heading"
                           aria-level="2">Please provide your house address.</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="form-controls">
      <!-- House address input -->
      <div class="input-details">
        <label for="address">House address</label>
        <label for="error"
               id="error"
               *ngIf="this.stepForm.controls['adrress'].invalid && this.stepForm.controls['address'].touched"
               class="error-alert">Home address is required</label>
      </div>
      <input type="text"
             matInput
             id="address"
             formControlName="address"
             placeholder="e.g 123, Lekki" />
                                                                                                                                                              
    </mat-card-content>
  </mat-card>
</ng-container>
