<div class="container">
  <div class="row">
    <app-step-tracker-icons class="nav"> </app-step-tracker-icons>
    <div class="column">
      <form>
        <ng-container [formGroup]="stepForm"
                      name="stepForm"
                      (submit)="confirmAndSubmitForm()">

          <app-step-one-personal-details *ngIf="activeStep$ == 1"
                                         formGroupName="personalDetails"></app-step-one-personal-details>
          <app-step-two-personal-details *ngIf="activeStep$ == 2"
                                     formGroupName="city"></app-step-two-personal-details>
          <app-step-three-personal-details *ngIf="activeStep$ == 3"
                                  formGroupName="phone"></app-step-three-personal-details>
          <app-step-four-personal-details *ngIf="activeStep$ == 4"
                                  formGroupName="address"></app-step-four-personal-details>
          <app-step-five-personal-details *ngIf="activeStep$ == 5"
                                formGroupName="country"></app-step-five-personal-details>
          <app-step-four-summary *ngIf="activeStep$ == 6"
                                 [stepForm]="stepForm"></app-step-four-summary>

          <app-step-five-confim *ngIf="activeStep$ == 7"></app-step-five-confim>
        </ng-container>

      </form>
      <app-progression-buttons class="progress"></app-progression-buttons>
    </div>
  </div>

</div>
